
.header{
    text-align: center;
    
}

.divContainer{
    
    width: 100vw;
    
    display: flex;
    justify-content: center;
    
}

.btn{
    width: 7rem;
    height: 7rem;
    border: 0.3rem solid black;
    border-radius: 2rem;
    margin: 1rem;
    cursor: pointer;
}

.crimson{
    background-color: crimson;
}

.orange{
    background-color: orange;
}
.cyan{
    background-color: rgb(51, 188, 243);
}

.purple{
    background-color: blueviolet;
}

.gameFlash{
    background-color: white;
}

.userFlash{
    background-color: green;
}

.startBtn{

    padding: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 1rem;
    
}